* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Pacifico', cursive; */
}

body {
    margin: 0;
    padding: 0;
}

/* ----------- navbar info ------------ */
.navbar {
    width: 100%;
    background-color: #97661d;
    /* background: repeating-linear-gradient(90deg, #8e6700, transparent 687px); */
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.logo {
    width: 10%;
    height: 13vh;
    /* border: 2px solid red; */
}

.exam-name {
    width: 55%;
    height: 13vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.exam-name h1 {
    color: #000000;
    text-shadow: 0px 0px 50px white;
    margin-left: 5%;
    font-size: 40px;
}

.student-info {
    width: 30%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    /* background-color: #8a531d; */
}

.student-pic {
    width: 75px;
    height: 75px;
    /* border: 1px solid red; */
    background: url('student.png')no-repeat center center/cover;
    border-radius: 50px;
}

.student-name-timer {
    width: 65%;
    height: 75px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
}

.student-name {
    width: 90%;
    height: 8vh;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
}

.student-name h1 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.exam-timer {
    width: 90%;
    height: 3vh;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.exam-timer h2 {
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

/* ----------- container info ------------ */

.container {
    width: 100%;
    height: 85vh;
    /* background-color: #f5e496; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    /* background: repeating-linear-gradient(90deg, #cfaa5d, transparent 687px); */
}

/* ----------- Que Box ---------- */
.que-box {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    background-color: #fff0b2;
}

.subject {
    width: 95%;
    height: 9vh;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    /* background-color: saddlebrown; */
}

.html,
.css,
.js {
    width: 33%;
    height: 9vh;
    cursor: pointer;
    border: none;
    border-radius: 0px 100px 0px 100px;
    /* border-radius: 60px; */
    background-color: #ffffff;
}

.que {
    width: 100%;
    height: 55vh;
    /* border: 2px solid #131010; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    /* background-color: black; */
}

.html-question {
    width: 95%;
    display: flex;
    width: 100%;
}

.css-question {
    width: 95%;
    display: none;
    width: 100%;
}

.js-question {
    width: 95%;
    display: none;
    width: 100%;
}

.question {
    width: 75%;
    display: flex;
    align-items: center;
    background-color: #996b05;
    /* background-color: #590e05a3; */
    border-radius: 71px 20px 199px 74px;
    padding: 7px 30px;
    box-shadow: 0px 0px 6px 0px white;
}

.question h1 {
    flex-wrap: wrap;
}

.question-ans {
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px;
}

.row {
    width: 75%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4%;
    border-radius: 40px;
    padding: 5px 20px;
    margin-bottom: 2.5%;
    color: #5a2d03;
    background: linear-gradient(45deg, #e9c370, transparent);
    font-weight: 600;
    cursor: pointer;
}

.row:hover {
    background: linear-gradient(45deg, transparent, #e9c370);
}

.row input,
.row label {
    cursor: pointer;
}

.submit-btn {
    width: 64%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.submit-btn button {
    width: 25%;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    /* background: repeating-linear-gradient(180deg, #7a2d00, transparent 40px); */
    background-color: #b57600b8;
    font-weight: bold;
    color: white;
}

.submit-btn button:hover {
    background-color: #a5430a;
}

.pre-next-btn {
    width: 95%;
    height: 10vh;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80%;
}

.pre-btn,
.next-btn {
    width: 45px;
    height: 45px;
    background-color: white;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #590e05a3;
    border-radius: 30px;
}

/* ----------- Question Numbers ---------- */
.que-no-box {
    width: 30%;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1%;
    background-color: #fff0b2;
}

.que-js-container {
    display: none;
}

.que-html-container {
    display: block;
}

.que-css-container {
    display: none;
}

.que-name {
    width: 90%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
}

.question-number-js,
.question-number-html,
.question-number-css {
    width: 95%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    flex-wrap: wrap;
    gap: 5%;
}

.que-no-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border: none;
}

.que-html-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border: none;

}

.que-css-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border: none;

}

.que-js-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border: none;

}

.que-html-btn:focus {
    transition: all .1s;
    border: 1px solid white;
}

.que-css-btn:focus {
    transition: all .1s;
    border: 1px solid white;
}

.que-js-btn:focus {
    transition: all .1s;
    border: 1px solid white;
}







.result {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

#final1 {
    display: none;
}
